<ul class="experiments">
  <% experiments.sort_by { |id, experiment| experiment.created_at }.reverse.each do |id, experiment| %>
    <li class="experiment <%= experiment.type %>" id="experiment_<%= id %>">
    <%= render :partial => "vanity/experiment", :locals => { :id => id, :experiment => experiment } %>
    </li>
  <% end %>
</ul>
